html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: auto;
}

.index-top-section {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: flex-end;
}

.welcome-header {
    font-style: italic;
    align-self: center;
}

nav.more-about-me-link {
    width: 20rem;
}

.links {
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    font-size: 140%;
    background-color: #EBF5DF;
}

.about-me-section {
    display: flex;
    max-height: 400rem;
    padding: 10px;
    background-color: #BAD4AA;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.header {
    font-style: italic;
}

img.pic-of-me {
    width: 550px;
    border-style: inset;
    border-width: thick;
    border-color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;

}

.hobbies-section {
    display: flex;
    background-color: #D4D4AA;
    padding: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
}


.hobby-pics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    justify-content: center;

}

.pic {
    width: 550px;
    border-style: inset;
    border-width: thick;
    border-color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    list-style-type: square;
}

.hobbies-hdr-para {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}