.index-top-section {
    display: grid;
    justify-content: center;
    border-style: double;
    border-width: 15px;
    border-color: rgba(0, 47, 78, 0.397);
    padding: 5px;


}

.welcome-header {
    text-align: center;
    font-style: italic;
    margin-top: 10px;
    text-decoration: underline;
}

nav.more-about-me-link {
    text-align: center;
    margin-bottom: 10px;
}

body {
    font-family: Arial;
    font-size: 140%;
    background-color: rgb(255, 255, 243);
}

.about-me-section {
    display: grid;
    grid-auto-flow: column;
    padding: 10px;
    background-color: blanchedalmond;
    justify-content: space-evenly;
}

h2.about-me-header {
    position: relative;
    font-style: italic;
    text-decoration: underline;

}

p.about-me-paragraph {}

img.pic-of-me {
    width: 550px;
    border-style: inset;
    border-width: thick;
    border-color: rgb(134, 134, 134);
}

.hobbies-section {
    display: grid;
    grid-auto-flow: column;
    justify-self: right;
    background-color: beige;
    padding: 10px;

}

.hobbies-hdr-para {
    display: grid;
    justify-self: right;
}